.main .abody {
  padding: 5px;
  border: 1px solid #eee;
  display: none;
  display: none;
  background-color: lightskyblue;
  color: darkolivegreen;
}
.main .active .abody {
  display: block;
}
.main .ahead {
  background-color: darkslategray;
  padding: 5px;
  font-size: 1.6em;
  margin: 5px 0;
  color: white;
}